body {
  margin: 0;
  padding: 0;
  font-family: helvetica, tahoma, sans-serif;
  font-size: 62.5%; /* 10px */
  line-height: 1.4em;
  background: #fff url(../images/bg.gif) repeat-y;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  background-color: #666;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 1.4em;
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#wrapper {
  font-size: 1.1em;
}

#left {
  float: left;
  width: 350px;
}

#right {
  background-color: #fff;
  border-left: #aaa 10px solid;
  margin-left: 350px;
}

#repositories {
  background-color: #ddd;
  border-right: #eee 10px solid;
  padding: 10px;
  width: 600px;
}

#repositories h2 {
  color: #fff;
  font-size: 1.4em;
  float: left;
  margin: 0 0 10px 0;
}

#repositories .information {
  color: #666;
  float: right;
  font-weight: bold;
}

#repositories .information li {
  display: inline-block;
  padding-right: 5px;
}

#repositories .information .watchers a {
  background: transparent url(../images/watchers.png) 0 -5px no-repeat;
  padding-left: 20px;
}

#repositories .information .forks a {
  background: transparent url(../images/forks.png) 0 -5px no-repeat;
  padding-left: 20px;
}

#repositories .description {
  -moz-border-radius: 4px;
  background-color: #fff;
  border: #aaa 1px solid;
  clear: both;
  color: #666;
  font-size: 1.2em;
  padding: 10px;
  margin: 10px 0;
}

#repositories .last .description {
  margin-bottom: 0;
}

.loading {
  -moz-border-radius: 4px;
  background: #fff url(../images/loading.gif) 10px 50% no-repeat;
  border: #aaa 1px solid;
  padding: 10px 10px 10px 36px;
  margin: 10px;
}
